
.Texto{
    text-align: center;
    color: rgb(61, 216, 0);
}
.container{
    width: 100%;
    height: 250px;
    border-style: groove;
    background-color: rgb(16, 7, 99);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Projeto{
    width: 500px;
    height: 200px;
    border-style:dotted;
    border-radius: 20px;
    border-width: 5px;
    background-color: rgba(197, 3, 3, 0.808);
    text-align: center;
    margin: 20px;
    justify-content: center;
}

.ONU{
    width: 500px;
    height: 200px;
    border-style:dashed;
    border-radius: 20px;
    border-width: 5px;
    background-color: rgba(240, 178, 6, 0.808);
    text-align: center;
    margin: 20px;
}